@font-face {
    font-family: 'Norse Bold';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse.woff2') format('woff2'),
        url('fonts/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body {
    height: 100%;
    margin: 0; 
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.document {
    height: 100%;
    display: flex;
}

.sidebar {
    width: 33%;
    background-image: url('./util/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    width: 100%;
    background: rgba(0, 0, 0, 0.5); 
    color: white;

    font-size: 4rem;
    font-family: 'Norse Bold';

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 0;
    position: absolute;
    top: 12rem;
}

.logo img {
    height: 6rem;
    width: auto;
}

.footer {
    color: white;
    padding-bottom: 1rem;
}

a {
    color: inherit;
}
